{% extends 'base.html.twig' %}

{% block title %}SnowTrick | Trick{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center py-4 detail_trick new_trick">
        <div class="card text-center" style="width: 80%">
            <div class="card-header">
                <img class="card-img-top" src="/uploads/{{ trick.firstImage }}" alt="Placeholder">
                <h1 class="trick_title">{{ trick.title }}</h1>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <div class="row list_media">
                        {% for image in trick.images %}
                            <div class="col-md-2 media image" data-bs-toggle="modal" data-bs-target="#image{{ loop.index }}" role="button">
                                <img src="/uploads/{{ image }}" alt="">
                            </div>
                        {% endfor %}

                        {% for embed in trick.medias %}
                            <div class="col-md-2 media embed image" data-bs-toggle="modal" data-bs-target="#media{{ loop.index }}" role="button">
                                <img src="{{ embed|getEmbedThumbnail }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <p class="card-text">
                    {{ trick.description }}
                </p>

                <span class="badge bg-primary">Created on {{ trick.getDateAdd|date("d/m/Y") }}</span>
                <span class="badge bg-primary">Modified on {{ trick.getDateUpdate|date("d/m/Y") }}</span>
                <span class="badge bg-info text-dark">{{ trick.trickGroup.title }}</span>

                <section class="comments">

                    {{ form(formComment) }}

                    <div class="comments_list">
                        {% for comment in trick.getComments() %}
                            {% embed "embed/comment.html.twig" %}{% endembed %}
                        {% endfor %}
                    </div>

                </section>
            </div>
        </div>
    </div>

    {% for image in trick.images %}
        <div class="modal fade" id="image{{ loop.index }}" tabindex="-1" aria-labelledby="image{{ loop.index }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="/uploads/{{ image }}" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% for embed in trick.medias %}
        <div class="modal fade" id="media{{ loop.index }}" tabindex="-1" aria-labelledby="media{{ loop.index }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        {{ embed|raw }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
